<%- include('../partials/header.ejs')  %>

<title>CADASTRO DE CATEGORIAS - LIBRI</title>

</head>

<body>
    
    <div class="container">
        <div class="card-body">
            <form action="" method="post">
                <label for="">CATEGORIA</label>
                <input type="text" class="form-control"
                        name="nome_categoria" id="nome_categoria"
                        placeholder="DIGITE UMA CATEGORIA">
                        <button class="btn btn-success mt-2">CADASTRAR</button>
            </form>
        </div>
    </div>

<%- include('../partials/footer.ejs')  %>
